/* _____________Загальні______________________ */
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    }


/* _______________________Панель меню____________________________ */
ul.navMenu{
    position: relative;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 85px;
    margin-top: 6%;
    background-color: black;
    text-align: center;
    }

.contactMenu{
    margin-right: 10vw;
    }

.goodsMenu{
    margin-right: 40vw;
    margin-left: 12vw;
    }

li:hover, .close:hover, [name="aboutBtn"]:hover, .closeMod p{
    cursor: pointer;
    }

.logoGS{
    position: absolute;
    z-index: 2;
    top: -8vh;
    left: 41%;
    }

li>a{
    color: #fefefe;
    position: relative;
    top: 35%;
    margin-right: 20px;
    text-decoration: none;
    font-size: 26px;
    }


/* ___________________Відображення товару________________________ */
.goods{
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    border-radius: 2px;
    height: 350px;
    width: 255px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    }

.hot{
    display: inline-block;
    padding:5px 15px 5px 15px;
    background-color: rgb(231, 34, 34);
    color:#fefefe;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 150;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    }

.goodsName{
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50px;
    left: 0;
    padding-top: 17px;
    background-color: rgba(236, 236, 236, 0.6);
    color: rgb(70, 69, 69);
    text-shadow: 1px 1px 2px #fefefe;
    margin: auto;
    }

.cost{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50px;
    left: 0;
    top: 350px;
    background-color: rgba(236, 236, 236, 0.4);
    color: rgb(29, 29, 29);
    text-shadow: 1px 1px 5px #f3f7c1;
    vertical-align:middle;
    font-size: 20px;
    }

.goods>.img{
width: 98%;
overflow: hidden;
    }

.goods:hover{
    height: auto;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 200;
    }


/* ___________________Корзина_____________________ */
.basket{
    width: 1000px;
    justify-content: center;
    margin-left: 30px;
    }

.basket-div{
    margin-bottom: 20px;
}

.basket-div ul{
    height: auto;
    }

#bas{
    display: absolute;
    z-index: 700;
    position: fixed;
    left: 90%;
    top: 1.5%;
    margin-right: 30px;
    box-shadow: 0 0 24px rgb(255, 255, 255); 
    background-color:rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 50%;
    }


/* __________________Модельне вікно замовлення______________________ */
#modal{
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    }

.modalContent{
    position: absolute;
    border-radius: 5px;
    top: 25%;
    left: 15%;
    padding: 30px;
    border: 1px solid black;
    width: 70%;
    height: 45%;
    background-color: #fefefe;
    }

#file, #cantsee{
    display: none;
    }


/* __________________________Фільтр___________________________________________ */
.fiter{
    position: sticky;
    top: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 10px; 
    }
.fiter ul{
    list-style: none;
}


/* ____________________Детальний опис товару______________________________ */
#about{
    display: none;
    position: fixed;
    z-index: 350;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 15px black;
    }

.closeMod{
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 99%;
    width: 22px;
    height: 22px;
    background-color: #fefefe;
    }

.closeMod p{
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    }   

.aboutContent{
    background-color: #fefefe;
    border-radius: 2px;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

.contentName{
    margin: 5% auto;
    text-align: center;
    }

#contentImage{
    position: absolute;
    margin: 0 25px 25px 75px;
    height: 70%;
    }

.contentCost{
    position: absolute;
    top: 23%;
    left: 40%;
    margin: 0 2% 2% 2%;
    }

.contentAbout{
    position: absolute;
    left: 40%;
    top: 30%;
    margin: 0 2% 2% 2%;
    }

.textAbout{
    width: 80vw;
    text-align: justify;    
    margin: 0 auto;
    font-size: 18px;
    }


/* _____________________________Слайдер__________________________________ */
.slider{
    width: 100%;
    height: 50%;
    position: relative;
    left: 0%; 
    overflow: hidden;    
    }

.black{
    background-color: black;
    display: inline-block;
    height: 2vh;
    width: 100vw;
    }

.navi{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    }

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 5px;
    cursor: pointer;
    transition: 0.4s;
    }

.bar:hover{
    background-color: #fff;
    }

input[name="r"]{
    position: absolute;
    visibility: hidden;
    }

.slides{
    width: 500%;
    height: 100%;
    display: flex;
    animation: slide 20s infinite;
    }

.insmain{
    font-size: 25px;
    text-align: center;
    }

.slide{
    width: 20%;
    transition: 0.6s;
    }

.slide img{
    width: 100%;
    height: 100%;
    }
            @keyframes slide {

                0% {
                    margin-left: 0;;
                }
                25% {
                    margin-left: -100%;
                }
                50% {
                    margin-left: -200%;;
                }
                75% {
                    margin-left: -100%;;
                }
            }

