
.insmain {
	background-color: #fff;
	color: black;
	width: 100%;
  height: 430px; 
	display: block;
	position: static;
	font-size: 40px;
	text-align: center;
}



body {
	margin: 0px;
	border: none;
	padding: 0px;
	font-family: 'Cuprum', sans-serif;
}


/*ul {
width: 100%;	
  margin: 50px;
  padding: 0px;
  background-color: black;
}*/


.ins{
text-align: center;
}

.ins1 {
text-indent: 30px;
border: 2px solid white;
padding: 15px;
}
.boderins {
border: 2px solid red;
}

footer {
  display: block;
  position: static;
  background-color: black;
  height: 100%;
  width: 100%;
}